.modalContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.modal{
  background-color: whitesmoke;
  width: 80%;
  height: 80%;
  z-index: 999;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: scroll;
}

.dismissButton{
  padding: 0 0 1rem 0;
  border-radius: 50%;
}

.dismissButton:hover{
  color: #9b4dca;
  cursor: pointer;
}