/*mobile portrait */
.imgContainer {
  height: 48rem;
}

/* mobile landscape */
@media (orientation: landscape) {
  .imgContainer {
    height: 40rem;
  }
}

/* desktop */
@media (min-width: 760px) {
  .imgContainer {
    height: 57rem;
  }
}


img{
max-height: 100%;
width: auto;
}